{% extends 'base.html' %}

{% block body %}
  <div>
    <h1>benjamin lavon</h1>
    <h3>
      software engineer @ <a href="https://fixersworld.com">Fixers</a><br>
      london, uk 🇬🇧
    </h3>
    <ul>
      <li>
      <a href="https://github.com/benlavon">github</a>
      </li>
      <li>
      <a href="https://linkedin.com/in/benjaminlavon">linkedin</a>
      </li>
      <!--
      <li>
      <a href="https://www.flickr.com/photos/155377562@N05">photography</a>
      </li>
      -->
      <li>
      <a href="http://instagram.com/benjaminlavon">instagram</a>
      </li>
      <li>
      <a href="https://twitter.com/ben_lavon">twitter</a>
      </li>
    </ul>

  contact: benlavon at gmail
  </div>

  <div>
    <h1>blog</h1>
    <ul>
      {% for article in articles %}
        <div>
          <a href="/{{ article.filename }}">{{ article.published }} - {{ article.title }}</a>
        </div>
      {% endfor %}
    </ul>
  </div>
{% endblock %}